.btn {
	@extend %btn;
	background: $secondary_color;
	color: #fff;
	font-size: 1.48rem;
	line-height: 2.4rem;
	font-weight: 900;
	text-transform: uppercase;
	padding: 1rem 5.4rem;
	border-radius: 9.39rem;
	box-shadow: inset 0 0 0 0.1rem $secondary_color;
	@include animation(box-shadow, background, color);


	&:hover {
		background: transparent;
		color: $primary_color;
		box-shadow: inset 0 0 0 0.4rem $secondary_color;
	}

	&--nobtn {
		background: none;
		border: none;
		padding: 0;
		text-transform: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 2px solid #F0D955;

		&:hover, &:focus {
			color: #F0D955;
			box-shadow: none;
		}
	}
}