html {
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body {
	background: $bgcolor;
	@include font-size(14.8px);
	font-family: $primary_font;
	font-weight: 800;
	line-height: 2.4rem;
	color: $primary_color;
}

.body__wrapper {
	height: 100vh;
}

h1, .h1 {
	font-family: $secondary_font;
	font-weight: 600;
	font-size: 4rem;
	line-height: 4.6rem;
	color: $primary_color;
}

h2, .h2 {
	font-family: $secondary_font;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.6rem;
	color: $dark_color;
	padding-bottom: 0.43rem;
}

h3, .h3 {
	font-family: $secondary_font;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 2.6rem;
	color: $primary_color;
}

h4, .h4 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: $primary_color;
	text-transform: uppercase;
}

p {
	margin-bottom: 1.538rem;
}

a {
  color: $color_white;
  text-decoration: none;
}

.link {

	&--underline {
		
	}
}

strong, b, .strong {
	font-weight: 500;
}

.img--responsive {
	display: block;
	width: 100%;
}

.logo {
	display: flex;
	align-items: flex-end;
	padding-bottom: 0rem;
	width: 95%;
	height: 100%;
	margin: auto;
	margin-right: 1rem;

	&__l {

		img {
			width: 100%;
		}

		&--w25 {
			flex: 0 0 25%;
		}

		&--w50 {
			flex: 0 0 50%;
		}
		
		&--d {
			transform: translateX(15%);
		}
	}

	&__bi {
		transform: translate(-0.25rem, -4.6rem);
		height: 9.3rem;

		&--sl {
			display: flex;
			align-items: flex-end;
		}

		&--s {
			text-align: center;
			justify-content: center;
			margin-right: 20%;
		}

		&--tt {
			transform: translateY(-4.8rem);
		}

		&--s {
			margin-left: 0%;
			margin-right: 20%;
			text-align: center;
		}

		&.logo__hl span {
			font-size: 4.7rem;
			line-height: 1;
			color: $color_white;
		}
	}

	&__soc {
		display: flex;
		justify-content: space-between;
	}
	
}


#letter-m:hover {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 6s linear forwards;
    animation: dash 6s linear forwards
}

.yclr {
	fill: #F0D955;
}

.tclr {
	fill: $bgcolor;
}

.js-d {
	transform-origin: center center;
}

.logo__l {
	overflow: hidden;

	svg {
		width: 100%;
		height: auto;
	}
}

@keyframes dash {
    to {
        stroke-dashoffset: 0
    }
}