//  Variables

// Colors

$bgcolor:                   #f7f7f7;
$color_white:               #ffffff;
$color_gray:                #d5d5d5;

$primary_color:             #000000;
$secondary_color:           #12699b;

$secondary_color_darker:    #9f2865;
$light_color:               #9a9a9a;
$dark_color:                #313131;
$border_color:              #f4f4f4;

$color_social:              #999999;
$color_slider-mind:         #eef4f8;


// Fonts

$primary_font: 'HelveticaNeueCyr', sans-serif;
$secondary_font: 'NewBaskervilleC', sans-serif;

$font-size-base:            10px;

$time: 0.3s;


// Social
$socials: (
        fb: #12699b,
        tw: #12699b,
        yb: #12699b,
        inst: #12699b,
        vk: #12699b,
        goo: #12699b,
        rss: #12699b
);