<div class="md-modal md-effect-17" id="modal-1">
	<div class="md-content">
		<h3 class="md__heading">Apply your Project</h3>
		<div class="md-body">
			<form action="apply.php" method="POST">
				<div class="input-group">					
					<input class="input" type="text" name="client-name" id="client-name">
					<span class="e-placeholder">Your name</span>
				</div>
				<div class="input-group">
					<input class="input" type="text" name="client-mail" id="client-mail">
					<span class="e-placeholder">E-mail</span>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="md-overlay"></div>